body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-color {
  color: #2e2f42;
}
.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}
.header-address {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #434455;
}
.header-address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-link:hover {
  color: #404bbf;
}
.header-address-link:focus {
  color: #404bbf;
}
.order-section {
  background-color: #2e2f42;
}
.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.order-button:hover {
  background-color: #404bbf;
}
.order-button:focus {
  background-color: #404bbf;
}
.order-page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #2e2f42;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.futures-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-section {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #FFFFFF;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-mate-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.footer-section {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-color {
  color: #f4f4fd;
}
.footer-text {
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
